<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="github" value="https://nuget.pkg.github.com/hassanskt/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="USERNAME" />
      <add key="ClearTextPassword" value="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" />
    </github>
  </packageSourceCredentials>
</configuration>
